<% provide :title, t("title.help") %>
<h1><%= t ".provide_title" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to t(".rails_help"), Settings.help_link, target: :_blank %>
  <%= t ".p2" %>
  <%= link_to t(".rails_book_html"), Settings.book_link, target: :_blank %>
</p>
